body{
    font-family: Verdana, sans-serif;
    background-color: black;
}
h1{
    text-align: center;
    font-family: Verdana, sans-serif;
    font-weight: normal;
    font-size: 50px;
    color: white;    
}
p{
    text-align: center;
    color: white;
    font-weight: 300;
    font-size: 42px;
    
}
.sub {
    text-align: center;
    color: grey;
    font-size: 21px;
}
p a{
    color: aquamarine;
    font-size: 16px;
}
.videos{
    align-items: center;
}
footer{
    color: gray;
    text-align: right;
}